<section id="pending">



    <div class="appointment-card">
        <label class="tagtitle" id="test" style="font-size: 25px; color: #848484 ">
            Pending
            (1) <!--counter-->
        </label>

        <%-include('../partials/patientAppointments')%>
    </div>





</section>