<div class="container-fluid pb-2 pt-5">
    <div class="row p-4 mb-4">
        <div class="col-sm pt-5 me-auto ms-auto mb-auto text-center" style="margin-top:-50px; ">
            <img src="/assets/OUR-DOCTORS-BG 1.png" img class="img-fluid m-4 mb-5 " style="width: 453px; height: 300px; min-width: none;">
            <p class="sertext text-center  " style="font-size: 20px;">Outpatient Services</p>
        </div>
        <div class="col-md pt-5 me-5 ms-5  pe-5  ">
            <p class="bookp">Set an Appointment</p>
            <p class="subp"> Email Address</p>
            <p class="subp" style="font-size: 14px;"> If you have previously made an online reservation, please supply your registered email address.</p>
            <div class="form-group pe-5 ">
                <div class="col-auto me-5">
                    <input type="email" class="form-control mt-4 me-auto " style="  width: 400px;
            height: 37px;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
            </div>
            <div class="g mt-3 subp">Gender</div>
            <div class="form-check mt-3 subp" style="font-size: 15px;">
                <input class="form-check-input" type="radio" name="radio" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleradios1">
             Male
            </label>
            </div>
            <div class="form-check mt-2 subp" style="font-size: 15px;">
                <input class="form-check-input" type="radio" name="radio" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleradios2">
             Female
            </label>
            </div>
            <div class="g mt-3 subp">Do you have a companion?</div>
            <div class="form-check mt-3 subp" style="font-size: 15px;">
                <input class="form-check-input" type="radio" name="rb" id="exampleRadios3" value="option1" checked>
                <label class="form-check-label" for="exampleradios3">
             Yes, I do
            </label>
            </div>
            <div class="form-check mt-2 subp" style="font-size: 15px;">
                <input class="form-check-input" type="radio" name="rb" id="exampleRadios4" value="option2">
                <label class="form-check-label" for="exampleradios4">
             No, I don't have
            </label>
            </div>
            <div class="form-check t&e " style="margin-top: 100px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
              I agree to the 
            </label>
                <label style="color:rgba(47, 157, 68, 1);"> Terms & Conditions</label>
            </div>
            <div class="row pt-5 pe-5 me-5 d-flex justify-content-end">
                <button type="button " class="btn btn-success btn me-3 " style="width: 110px; background-color: #FF0000; border-color: #FF0000;">Back</button>
                <button type="button " class="btn btn-success btn " style="width: 110px;">Proceed</button>
            </div>

        </div>
    </div>


</div>